{% extends 'shoe/base.html' %}
{% load static %}
{% block content %}

<div class="container about-section py-5">

  <!-- About Section -->
  <h2 class="text-center mb-3">About StepUp</h2>
  <p class="text-center">
    StepUp is India’s largest sports and athleisure footwear brand. Incorporated in 2006, StepUp Activewear is one of the leading players in organized sports & casual footwear sector in India. 
    Since 2016, the flagship brand "StepUp", has been the largest sports and athleisure footwear brand in India, in both volume and value terms. 
    The company’s products are available via an expansive Pan-India network of over 15,000 geo-tagged multi-brand retail stores, 35+ company-owned exclusive outlets, large format stores such as Walmart, Vishal Retail and Reliance Smart among others and all the leading e-commerce portals.
  </p>

  <!-- Mission -->
  <div class="mission mt-5">
    <h2 class="text-center mb-3">Our Mission</h2>
    <p class="text-center">
      At StepUp we craft shoes with care for everyone - men, women and kids, with an equal attention to detail, letting each shoe speak for itself. 
      The world-class quality, trendy designs and affordable prices have captured the imagination of millions of people, across the country – making StepUp, 
      an aspirational brand especially for young adults, everyday performers and fashionistas.
    </p>
  </div>

  <!-- Circle Image -->
  <div class="circle-img mx-15">
    <img src="{% static 'image/shoes.jpg' %}" alt="Shoes" class="img-fluid">
  </div>

  <!-- Features -->
  <div class="row text-center features mt-5">
    <div class="col-md-4">
      <h5>Simplicity In Design</h5>
      <p>No flashy logos, no senseless details. Just the world’s most comfortable shoes, made naturally and designed practically. It’s that simple.</p>
    </div>
    <div class="col-md-4">
      <h5>Confidence in Comfort</h5>
      <p>Trying is believing. Give our shoes a shot for 30 days, and if you’re not walking on cloud nine, we’ll take them back – no questions asked.</p>
    </div>
    <div class="col-md-4">
      <h5>Made from Nature</h5>
      <p>The footwear industry often overlooks Mother Nature’s materials in favor of cheaper, synthetic alternatives. We think it’s time to change that.</p>
    </div>
  </div>

</div>
{% endblock %}


